includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    typeAliases:
        TCartOptions: 'array{name: string, autosave: bool, tax: float, shipping: array{amount: float, free: float}}'
        TOptions: 'array{name?: string, autosave?: bool, tax?: float, shipping?: array{amount?: float, free?: float}}'
        TItemArray: 'array{id: string, name: string, price: float, qty: int, discount: float, fields: array<string, mixed>}'
    strictRules:
        noVariableVariables: false
        disallowedConstructs: false
