includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    typeAliases:
        TShipping: 'array{amount: float, free: float}'
        TCartOptions: 'array{name: string, autosave: bool, tax: float, shipping: TShipping}'
        TOptions: 'array{name?: string, autosave?: bool, tax?: float, shipping?: array{amount?: float, free?: float}}'
        TItemFiels: 'array<string, mixed>'
        TItemArray: 'array{id: string, name: string, price: float, qty: int, discount: float, fields: TItemFiels}'
    strictRules:
        noVariableVariables: false
        disallowedConstructs: false
